entrypoint = "main.go"
run = ["go", "run", "."]

modules = ["go-1.21"]

[env]
GOPATH="$REPL_HOME/gopath"

[nix]
channel = "stable-24_05"
packages = ["go-migrate"]

[gitHubImport]
requiredFiles = [".replit"]

[deployment]
build = "CGO_ENABLED=0 GOOS=linux GOARCH=amd64 go build -a -o main"
run = "./main"
ignorePorts = false
deploymentTarget = "gce"

[[ports]]
localPort = 4000
externalPort = 3000

[[ports]]
localPort = 4040
externalPort = 80

[[ports]]
localPort = 8000
externalPort = 8000

[agent]
expertMode = true

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Go API Server"

[[workflows.workflow]]
name = "Go API Server"
author = "agent"

[workflows.workflow.metadata]
outputType = "console"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "go run cmd/api/main.go -port 8000"
waitForPort = 8000
